*.bak
.DS_Store
.skipAccessRule
bak
bin
logs
maven_target
maven_target.settings
setting.dev.properties
setting.dev.properties/target/
target
.settings/
.classpath
.flattened-pom.xml
/dp/.settings/org.eclipse.core.resources.prefs
