<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">


	<CustomLevels>
		<CustomLevel name="SQLIF" intLevel="320" /><!-- sql调用信息日志 -->
		<CustomLevel name="SVC" intLevel="325" /><!-- 服务调用信息日志 -->
		<CustomLevel name="SQL" intLevel="330" /><!-- sql语句日志 -->
		<CustomLevel name="PROF" intLevel="350" /><!-- 性能统计日志 -->
		<CustomLevel name="DAREA" intLevel="360" /><!-- 数据区日志 -->
		<CustomLevel name="METHD" intLevel="370" /><!-- 方法日志 -->
		<CustomLevel name="TECH" intLevel="370" /><!-- 技术方法日志 -->
		<CustomLevel name="PARM" intLevel="450" /><!-- 参数日志 -->
	</CustomLevels>


	<Appenders> 
		<!-- 控制台 -->
		<Console name="busi_console">
			<PatternLayout>
				<Pattern>[%d] [%p] [%C:%L] [%t] [%m]%n</Pattern>
			</PatternLayout>
		</Console>

		<!-- 根据日志类型路由不同的日志文件 -->
		<Routing name="busi_route">
			<Routes pattern="$${ctx:LogType}">
				<!-- 默认路由日志 -->
				<Route ref="busi_console" />
			</Routes>
		</Routing>
	</Appenders>

	<Loggers>
		<!-- for JDBC -->
		<Logger name="jdbc.audit" level="error" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>
		<Logger name="jdbc.resultset" level="error" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>
		<Logger name="jdbc.sqlonly" level="debug" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>
		<Logger name="jdbc.sqltiming" level="error" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>
		<!-- for JDBC -->

		<!-- for 屏蔽第三方日志 -->
		<Logger name="org.springframework" level="ERROR" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>
		<Logger name="org.mortbay" level="ERROR" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>
		<Logger name="freemarker" level="ERROR" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>
		
		<Logger name="org.apache.zookeeper" level="ERROR" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>
		<Logger name="io.netty" level="ERROR" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>
		<Logger name="org.apache.commons.beanutils.converters.AbstractConverter" level="ERROR" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>		
		<Logger name="cn.sunline.edsp.international.plugin.api.InternationalManager" level="ERROR" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>
		<Logger name="cn.sunline.edsp.microcore.resource.PathPatternResolver" level="ERROR" additivity="false">
			<AppenderRef ref="busi_console" />
		</Logger>		
		<!-- for 屏蔽第三方日志 -->
		<Root level="debug" additivity="false">
			<AppenderRef ref="busi_console" />
		</Root>
	</Loggers>
</Configuration>